.max-w-lg.rounded.overflow-hidden.shadow-sm.w-full.mb-8.cursor-pointer.shadow-lg.hover:shadow-xl.dark:bg-gray-100.dark:text-gray-900.shadow-gray-400
  .px-6.py-4
    .font-bold.text-xl.mb-2.text-gray-600= service.name
    %p.text-gray-700.text-base= service.description
  .px-6.pt-4.pb-2.flex.items-center.justify-between.align-middle
    %div
      - case service.status
      - when 'pending'
        = icon 'clock', 'Aguardando', class: 'text-gray-500'
      - when 'in_progress'
        = icon 'wrench', 'Em Andamento', class: 'text-blue-500'
      - when 'done'
        = icon 'check-badge', 'Finalizado', class: 'text-green-500'
      - when 'canceled'
        = icon 'x-circle', 'Cancelado', class: 'text-red-500'

    %div.text-sm.text-gray-500.hover:text-blue-500
      Ver Detalhes &rarr;
