%main{ data: { controller: "cars/index" }}
  .flex.flex-row.justify-between.mx-20
    %div
      %h1.text-3xl.text-center.text-gray-900.mb-12.dark:text-white.font-bold
        Meus Carros

      .mx-auto
        .flex.flex-col.justify-between.w-full
          - @cars.each do |car|
            %h3.text-2xl.text-left.text-gray-700.dark:text-white.mb-8
              .inline-flex.items-center.text-gray-700
                = icon 'wrench-screwdriver'
                .ml-2= car

            - car.services.each do |service|
              = link_to modal_cars_path(service_id: service.id), class: "flex w-full text-left", data: { turbo_frame: 'modal' } do
                = render "service", service: service

    .h-full.max-w-lg.items-center
      -# = image_tag 'car-repair.svg', class: ' my-auto'
      = image_tag 'ai-002.png'

= turbo_frame_tag "modal"
