!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Staged
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = hotwire_livereload_tags if Rails.env.development?

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js", defer: true }

  %body.dark:bg-dark
    %main.container.mx-auto.px-5.dark:text-white.w-full.h-screen.flex.flex-col.justify-between
      = yield
